.App {
  text-align: center;


}

.header{
  text-align: left;
  background-color: black;
  width: 300%;
  height: 90px;
  padding: 20px;


}

 input{
  margin:20px;
  text-align: lef;
  color: black;
  background-color: white;
  width: 210px;
  height: 30px;
}



